In [1]:
## Understanding variables in python
##Example 1
x=8
y=5
x+y

13

In [3]:
#3Example2
x=8;y=5;z=2
x*y+z

42

In [ ]:
##Rules for Declaring varibales
  1.No Namespaaes while declaring the variable name

In [4]:
##Example1
first name = 'Faiyaz'   ## Syntax Invalid --Reason is there is a space between the declared variable
print(first name)

SyntaxError: invalid syntax (<ipython-input-4-2c65cf70718e>, line 1)

In [5]:
##Example2  

firstname = 'Faiyaz'   ##No space between declaring variable is a accepted scenario
print(firstname)

Faiyaz

In [7]:
##Example3

first_name = 'Mukesh'  ## In between words when declaring variable we can use "_"
print(first_name)

Mukesh

In [ ]:
  2.variable Name should not start wih a number.

In [8]:
##Example1
1name= 'Faiyaz'    ## Variable name starting letter is a number, so syntax in invalid
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-07c5b780520f>, line 1)

In [11]:
##Example2
name1 ='Mukesh'   ## we can use numbers while declaring a variable after any character
print(name1)

Mukesh

In [ ]:
3.varibale name should not contain any special characters : @,#,$,%

In [14]:
##Example1
name@='Mukesh'  ## As the variable contains special chaacters which is syntax invalid.
print(name@)

SyntaxError: invalid syntax (<ipython-input-14-43ba48c536e0>, line 3)

In [15]:
##Example2
n@a='Mukesh'  ## As the variable contains special chaacters which is syntax invalid.
print(n@2)

SyntaxError: cannot assign to operator (<ipython-input-15-7f67579e847c>, line 2)

In [ ]:
Itroduction to string data types.

In [16]:
## Example1 -- Single quote

name1 = 'Faiyaz'
print(name1)

Faiyaz

In [18]:
##Example2  -- Double Quotes

name2 ="Harika"
print(name2)

Harika

In [21]:
##Example2  -- triple Quotes

name3 ="""Mukesh"""
print(name3)

Mukesh